<div *ngIf="showCookieBanner" class="cookie-banner">
  <p>
    We utilize cookies to enhance our understanding of visitor interactions with
    our content, which aids in the continual improvement of our website. You
    have the option to accept or decline the use of these cookies. <br />For
    further details,please
    <a [routerLink]="['/cookie-policy']">Learn More</a>
  </p>
  <div class="buttons-container">
    <button id="btn-accept" type="button" (click)="acceptCookies()">
      Accept
    </button>
    <button id="btn-decline" type="button" (click)="declineCookies()">
      Decline
    </button>
  </div>
</div>
