<section class="hero-section top-section">
  <div class="content-container content-theme-dark">
    <div class="content-inner">
      <div class="content-center">
        <h1>DREA</h1>
        <p>Making Deals Possible</p>
      </div>
    </div>
  </div>
</section>
<video class="video-background" playsinline autoplay muted loop>
  <source src="/assets/sharing-agent.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>
<section class="hero-section bottom-section">
  <div class="content-container content-theme-light">
    <div class="content-inner">
      <div class="content-center">
        <h1>DREA</h1>
        <p>pioneering a change in the real estate transaction world</p>
      </div>
    </div>
  </div>
</section>
