<!-- <label>
  <input type="checkbox" [checked]="isMenuOpen" (change)="toggleMenu($event)" />
  <span class="menu">
    <span class="hamburger"></span>
  </span>
  <ul [class.open]="isMenuOpen" class="menu-items">
    <a class="navbar-item" (click)="handleLinkClick('about')">About DREA</a>

    <a class="navbar-item" (click)="handleLinkClick('testimonials')"
      >Our Success</a
    >
    <a class="navbar-item" (click)="handleLinkClick('mission-vision')"
      >Our Mission & Vision</a
    >
    <a class="navbar-item" (click)="handleLinkClick('problem-solution')"
      >Problem & Solution</a
    >
    <a class="navbar-item" (click)="handleLinkClick('cta')">Contact Us</a>
  </ul>
</label>
<header class="header-nav" [class.hidden]="!isNavbarVisible">
  <a class="header-item" (click)="scrollToElement('about')">About DREA</a>
  <a class="header-item" (click)="scrollToElement('testimonials')"
    >Our Success</a
  >
  <a class="header-item" (click)="scrollToElement('mission-vision')"
    >Our Mission & Vision</a
  >
  <a class="header-item" (click)="scrollToElement('problem-solution')"
    >Problem & Solution</a
  >
  <a class="header-item" (click)="scrollToElement('cta')">Contact Us</a>
</header> -->
<app-cookie-notice></app-cookie-notice>
<app-nav (sectionRequested)="scrollToSection($event)"></app-nav>
<router-outlet></router-outlet>
