.header-nav {
  position: fixed;
  top: 0;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
  z-index: 300;
}

.header-nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.header-item:hover {
  color: #01264f !important;
  text-shadow: #01264f 1px 0 30px;
  transform: scale(1.1) rotate(-2deg) !important;
  cursor: pointer !important;
}

// .header-item.active {
//   animation: pulse 1s infinite;
// }

.header-nav.hidden {
  transform: translateY(-100%);
}

.header-item {
  cursor: default;
  transition: transform 0.3s ease;
}

// @keyframes pulse {
//   0% {
//     transform: scale(1);
//   }

//   50% {
//     transform: scale(1.2);
//   }

//   100% {
//     transform: scale(1);
//   }
// }

//removing checkbox highlight
// * {
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// }

@media (max-width: 767px) {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    font-size: 18px;
  }

  body {
    font-family: "Cutive Mono", serif;
    font-size: 1.2em;
    line-height: 1.6;
    background: #ccc;
    overflow-x: hidden;
  }

  .menu-items {
    font-size: 1.5rem;
    width: 99%;
  }

  .menu {
    transition: opacity 0.3s ease;
    opacity: 1;
    /* Initial opacity */
  }

  input:checked + .menu {
    /* ...other styles... */
    opacity: 0.97;
    /* Set the opacity to 0.97 when the menu is open */
  }

  .menu.scrolled {
    opacity: 0.5;
    /* Opacity when scrolled */
  }

  label {
    opacity: 0.96;
    position: fixed;
    transition: transform 0.5s ease-in-out;
    z-index: 300;
    right: 10px;
  }

  .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #e9ecef;
    border-radius: 50% 50% 50% 50%;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #e9ecef, 0 0 0 0 #e9ecef;
    cursor: pointer;
  }

  .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: 0.2s ease-in-out;

    ul {
      width: 99%;
      font-size: 23px;
    }

    &:after,
    &:before {
      transition: 0.1s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
    }

    &:before {
      top: -10px;
    }

    &:after {
      bottom: -10px;
    }
  }

  input {
    display: none;
  }

  input:checked + .menu {
    box-shadow: 0 0 0 100vw #e9ecef, 0 0 0 100vh #e9ecef;
    border-radius: 0;

    .hamburger {
      transform: rotate(45deg);

      &:after {
        transform: rotate(90deg);
        bottom: 0;
      }

      &:before {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }

  input:checked + .menu + ul {
    opacity: 1;
    pointer-events: auto;
  }

  ul {
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s 0s ease-in-out;
    pointer-events: none;
  }

  a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
    text-shadow: #dbd8d8 2px 0 15px;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }

  header {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  label {
    display: none;
  }
}

@media (min-width: 1025px) {
  label {
    display: none;
  }
}
