<nav>
  <div class="navbar">
    <div class="container nav-container">
      <input
        class="checkbox"
        type="checkbox"
        name=""
        id="menu-toggle-checkbox"
      />
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <!-- <div class="logo">
        <h1>DREA</h1>
      </div> -->
      <div class="menu-items">
        <!-- <li><a (click)="handleNavClick('about-drea-p')">About</a></li> -->

        <li
          class="drea-menu-item"
          style="padding-bottom: 5px; padding-left: 5px"
        >
          <div (click)="handleNavClick('about-drea-p'); closeMenu()">
            <h1>DREA</h1>
          </div>
        </li>
        <li style="width: 90px">
          <a (click)="handleNavClick('features-section'); closeMenu()"
            >Features</a
          >
        </li>
        <li style="width: 190px">
          <a (click)="handleNavClick('problem-solution-section'); closeMenu()"
            >Problem & Solution</a
          >
        </li>
        <li style="width: 90px" class="join-menu-item">
          <a (click)="handleNavClick('join-waiting-list-section'); closeMenu()"
            >Join</a
          >
        </li>
      </div>
    </div>
  </div>
</nav>
