.how-it-works-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
}

.step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #fff;
}

.step-container p {
  margin-top: 1rem;
  text-align: center;
}
