<!-- <div class="how-it-works-section">
    <h1>How It Works</h1>
    <div class="how-it-works-container" [ngStyle]="{'background-image': currentStepBackgroundImage}">
        <mat-stepper orientation="vertical" linear style="height: 100vh;" #stepper>
            <mat-step *ngIf="isStepVisible(0)">
                <div class="step-container"
                    (click)="stepper.selected ? (stepper.selected.completed = true) : null; stepper.next();">
                    <ng-template matStepLabel>Step 1: Submit Your Numbers</ng-template>
                    <p>The seller and the buyer both submit their preferred numbers for the transaction.</p>
                </div>
            </mat-step>

            <mat-step *ngIf="isStepVisible(1)">
                <div class="step-container"
                    (click)="stepper.selected ? (stepper.selected.completed = true) : null; stepper.next();">
                    <ng-template matStepLabel>Step 2: Automatic Calculation</ng-template>
                    <p>Our state-of-the-art algorithm processes the submitted numbers, taking into account all factors
                        to compute an optimal price.</p>
                </div>
            </mat-step>

            <mat-step *ngIf="isStepVisible(2)">
                <div class="step-container"
                    (click)="stepper.selected ? (stepper.selected.completed = true) : null; stepper.next();">
                    <ng-template matStepLabel>Step 3: Final Price Presentation</ng-template>
                    <p>The final price is presented to both parties. At this stage, you can decide to close or decline
                        the deal.</p>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div> -->
